header {
	background: url("http://www.0769chufa.com/Bgg/attached/2013219/20132191313542702853.jpg");
	background-size: cover;
	text-align: center;
	font-size: 20px;
	font-family: helvetica;
	color: white;
}

.circle {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-top: 40px;
}

.menu {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: white;
	font-family: helvetica;
	font-size: 15px;
	vertical-align: middle;
}

.hover {
	background-color: rgba(255,255,255,1);
	color: #444;
}
.click {
	background-color: brown;
}

#tabs {
	background: rgba(0,0,0,0.5)
}